
<div class="block_simplecalculator"><div class="calculator-block">
    <div class="calculator-display">0</div>
    <div class="calculator-buttons">
        <div><button data-value="1">1</button><button data-value="2">2</button><button data-value="3">3</button></div>
        <div><button data-value="4">4</button><button data-value="5">5</button><button data-value="6">6</button></div>
        <div><button data-value="7">7</button><button data-value="8">8</button><button data-value="9">9</button></div>
        <div><button data-value="+">+</button><button data-value="0">0</button><button data-value="-">-</button></div>
        <div><button data-value="*">x</button><button data-value="/">/</button><button data-value=",">,</button></div>
        <div><button data-value="C">c</button><button data-value="=">=</button></div>
    </div>
</div>



</div>